{
    "trailingComma": "all",
    "semi": false,
    "tabWidth": 2,
    "useTabs": false,
    "singleQuote": true,
    "apexInsertFinalNewline": false,
    "overrides": [
        {
            "files": "**/*.{cls,trigger,apex}",
            "options": {
                "useTabs": true,
                "tabWidth": 4,
                "printWidth": 120,
                "apexStandaloneParser": "native"
            }
        },
        {
            "files": "**/lwc/**/*.html",
            "options": {
                "parser": "lwc"
            }
        },
        {
            "files": "*.{cmp,page,component}",
            "options": {
                "parser": "html"
            }
        },
        {
            "files": "*.{json,wdash,wdpr,prettierrc}",
            "options": {
                "parser": "json",
                "tabWidth": 4,
                "useTabs": false
            }
        }
    ],
    "plugins": ["prettier-plugin-apex"]
}
